.header {
    width: 100%;
    background: var(--header-color);
    height: 60px;
    padding-top: 20px;
    padding-left: 80px;
    display: flex;
    color: var(--accent-color);
    font-family: LogoPixies, Impact;
    font-size: 20px;
}

  .header  img {
      padding-right: 10px;
  }