.nav {
    background: var(--background-color);
    width: 15%;
    font-size: 20px;
    padding: 20px 20px 20px 80px;

  }

a {
    color: black;
    text-decoration: none;
}

a:active {
    color: #064f00;
}

