:root {
  --background-color: rgb(235, 225, 255);
  --sidebar-color: rgb(69, 57, 85);
  --main-content-color: rgb(246, 235, 255);
  --apple-color: rgb(219, 0, 0);
  
}


.main {
  display: flex;
  background: var(--main-content-color);
}

