* {
    margin: 0;
    padding: 0;
}
.dialogs {
    display: flex;
    font-size: 20px;
}

.messages {
    background: white;
    border-radius: 20px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.message {
    padding: 10px;
}

.dialogItem .dialog {
    color: var(--header-color);
    width: 200px;
    padding: 10px;
    padding-left: 30px;
}

.dialogItem  .active {
    color: black;
}

.textarea {
    width: 500px;
    height: 30px;
    border-color: #999999;
    /*box-shadow:0 0 15px 4px rgba(0,0,0,0.06);*/
    margin: 20px 10px 20px 20px;
    border-radius: 10px;
    outline:none;
    resize: none;
    padding: 5px;

}

.btnadd {
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding:10px;
    border-radius:10px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    /*margin-left: 40px;*/
}

.inputText {
    display: flex;
    background: #efefef;
    width: 600px;
    height: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

